<ion-view title="Menu" hide-nav-bar="false">
  <ion-content class="padding backing"  style="text-align: center;">

    <br>

    <h2 class="text">Navigate using the buttons!</h2>


    <br>

    <button class="button button-block" ng-click="list()">
      View List
    </button>

    <br>

    <button class="button button-block button-royal" ng-click="ranks()">
      View Rankings
    </button>

    <br>

    <button class="button button-block button-positive" ng-click="stats()">
      View Statistics
    </button>

    <br>

    <button class="button button-block button-assertive" ng-click="table()">
      View Table
    </button>

    <br>

    <button class="button button-block button-calm" ng-click="alliance()">
      View Alliance
    </button>

    <br>

    <button class="button button-block" style="background-color: #00FF33" ng-click="reload()">
      Reload Data
    </button>



  </ion-content>
</ion-view>
