<ion-view title="Team 1325 Scouting App Viewer" hide-nav-bar="false">

  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="filter()">
      Filter
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="search()">
      Search
    </button>
  </ion-nav-buttons>

  <ion-content class="padding"  style="text-align: center;">

    <button class="button button-clear button-positive" ng-click="refresh()">
      Refresh
    </button>

        <div ng-repeat="match in matches">

          <div class="card">
            <div class="item item-divider">
            Team {{match.team}} during Match {{match.number}}
            </div>
            <div class="item item-text-wrap">
              <div ng-repeat="stack in match.teleop">
                {{stack.size}} Stack | Bin: {{stack.bin}} | Rainbow Tote: {{stack.rainbow}}<br> 
              </div>
              <br>
              Notes: {{match.notes}}
            </div>
            <div class="item item-divider">
              Speed: {{match.auto.speed}} | Stack Size: {{match.auto.stackSize}} | RC Auto Bins: {{match.auto.bins}}
            </div>
          </div>

        </div>

  </ion-content>
</ion-view>
