<ion-view title="Welcome" hide-nav-bar="false">
  <ion-content class="padding backing-red center"  style="text-align: center;">
    <h1 class="text"> Welcome to the scouting viewer!</h1>

    <p class="text"> View scouting data with this app. </p>

    <br>

    <div ng-show="showButton">
      <button class="button button-outline button-stable" ng-click="next()">
        Onwards!
      </button>
    </div>

    <div ng-show="!showButton" style="font-size: 20px" class="text">
      {{pulling}}
    </div>

    <br>
    <br>

    <div style="font-size: 30px; color: #FFFFFF">
      Or...
    </div>

    <br>
    <br>

    <form ng-submit="inputString(stringInput)" name="InputString" style="background-color: #000000">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Insert Code..." ng-model="stringInput">
        </label>
        <button class="button button-small" ng-disabled="filterForm.$invalid">
          Submit
        </button>
      </div>
    </form>

    <button class="button button-royal button-block" ng-click="stringInput = ''">
      Clear
    </button>


  </ion-content>
</ion-view>
