<ion-view title="Welcome" hide-nav-bar="false">
  <ion-content class="padding backing-red center"  style="text-align: center;">
    <h1 class="text"> Welcome to the scouting viewer!</h1>

    <p class="text"> View scouting data with this app. </p>

    <br>

    <div ng-show="showButton">
      <button class="button button-outline button-stable" ng-click="next()">
        Onwards!
      </button>
    </div>

    <div ng-show="!showButton" style="font-size: 20px" class="text">
      {{pulling}}
    </div>


  </ion-content>
</ion-view>
